/* index.css */
.header {
  padding: 20px;
  justify-content: space-between;

  display: flex;
}
.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.resto-card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20dp;
}

.search-bar {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}

.resto-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}
.resto-card:hover {
  cursor: pointer;
  border: 2px solid blue;
}
.resto-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
}
.filter-button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border: none;
}
.filter-button:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
}
.shimmer-card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20dp;
  background-color: #f0f0f0
}
.login-button {
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.search {
  display: flex;
  margin: 10px;
}
.search-button {
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
}
.search-button:hover {
  cursor: pointer;
  background-color: #0056b3;
}